*{
    box-sizing: border-box;
}
.main{
    background: url(../bacgWeights.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;


}
.main{
    height: 45rem;

}
.main .container{
    /* height: 45rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navBar{
    background-color: #f96432c2;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navBar #logo{
    width: 150px;
    height: auto;
}
 #linkdin{
    width: 50px;
}
 #linkdin:hover{
    background-color: rgba(128, 128, 128, 0.486);
    border-radius: 15px;
    width: 50px;
}
.buffer{
    height: 15rem;
}
.navBar ul{
    list-style-type: none;
    /* margin-left: 20px; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 0px 100px;

}

.main .header{

    /* margin-bottom: 105rem; */
    color: white;
    text-align: center;
    align-items: center;
}
.header img{
    width: 230px;
    height: auto;
}
.header button{

    background-color: #f96332;
    padding: 15px 50px 15px 50px;
    border-radius: 10px;
    text-transform: uppercase;
    border: 0px;
    
}
button:hover{
    transition: all 0.3s;
    transform: scale(1.2);
}
.header h2{
    font-size: 40px;
}
.header p{
    font-size: 29px;
}
.about{
    background-color: white;
    /* height: 25rem; */
}
#heading{
    padding: 25px;
}
.about .row{
   padding: 30px;
}
.about p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about .container img{
    width: 5rem;
    height: auto;
    background-color: #f96332;
    border-radius: 50px;
    padding: 0px;
}
.bottomScreen{
    /* height: 150rem; */
    background: url(../pexels-julia-larson-6455961.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
}
.feauters{
    background-color: #f2f2f2;
    padding: 50px;
    display: flex;
    flex-wrap:wrap ;
    flex-direction: column;
    align-items: center;
}
.feauters h1{
    margin-bottom: 35px;
}
.feauters img{
    width: 35%;
}
.card0{
    padding: 10px;
    background-color: white;
    margin-top: 15px;
    width: 35%;
    box-shadow: 0px 0px 20px 0px grey;
}
.qouteBuffer{
    height: 13rem;
}

.quote .container{
    text-align: center;
    width: 50%;
    background-color: white;
    padding: 25px;

}
.newsletter{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    text-align: center;
}
.bla{
    padding: 3rem;
}
form{
    margin-top: 30px;
}
.newsletter button{
    padding: 3px 20px 3px 20px;
    border-radius: 10px;
    background-color: #f96332;
    width: 18rem;
    margin-top: 10px;
    padding: 12px 15px 12px 15px;
    border: 1px solid #f96332;

}

.newsletter button:hover{
    transform: scale(1.05);
}

.input{
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 18rem;
    height: 2rem;
    background-color: wheat;
    border-radius: 5px;
    border: 0.1px;

}

